.tile {
    width: 200px;
    height: 290px;
    border-radius: 10px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px 10px;
    transition: .2s ease;
    cursor: pointer;
    margin-top: 3%;
}

.top-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tile .question {
    text-align: center;
    font-family: "Quicksand Medium", sans-serif;
}

.tile .creator {
    text-align: left;
    width: 100%;
    padding-left: 20px;
    font-size: .9em;
    font-family: "Quicksand", sans-serif;
}
.tile .creator span{
    background-color: #bdacf3;
    padding: 3px 3px;
    color: #FFFFFF;
    font-family: "Quicksand Medium", sans-serif;
    border-radius: 4px 4px;
}

.tile:hover {
    transform: scale(1.1);
}

.tile .bottom-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.bottom-card div {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #9B69FF;
    font-family: Quicksand, sans-serif;
}

